.nav-bar ul li{
    list-style: none;
}

.nav-bar ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
}

.nav-bar ul li a i{
    margin-right: 6px;
    margin-left:5px;
}

.nav-bar ul li a:hover{
    border-left: 5px solid white;
}


/* post 1 start*/
.container{
    width: 1000px;
    margin: 0;
    padding: 0;
}

.clr{
    clear: both;
}

.container .img{
    float: left;
    padding: 2% 0 0 3%;
    height: 270px;
    width: 25%;
}

.container .text{
    float: right;
    width: 70%;
    height: 270px;
    overflow: hidden;
}

.container .section{
    width: 100%;
    text-align: center;
}

.container .section .left{
    float: left;
    width: 45%;
    text-align: left;
}

.container .section .right{
    float: right;
    width: 45%;
    text-align: left;
}

.container .section li{
    margin-left: 10%;
}




/* post 1 end*/
